<footer class="site-footer">
  <div class="footer-grid">
    <div>
      <h2 class="footer-heading">About</h2>
      <p>
        {{ site.name }}<br>
        {{ site.title }}<br>
        {{ site.institution }}
      </p>
    </div>
    <div>
      <h2 class="footer-heading">Contact</h2>
      <p>
        {% include icon.html name="envelope" %} {% include protected-email.html %}<br>
        <!-- {% if site.links.github and site.links.github != "" %}<a href="{{ site.links.github }}">{% include icon.html name="github" %} GitHub</a><br>{% endif %} -->
         {% if site.links.linkedin and site.links.linkedin != "" %}<a href="{{ site.links.linkedin }}" >{% include icon.html name="linkedin" %} LinkedIn</a>{% endif %}
      </p>
    </div>
    <div>
      <h2 class="footer-heading">Links</h2>
      <p>
        {% if site.links.google_scholar and site.links.google_scholar != "" %}<a href="{{ site.links.google_scholar }}">{% include icon.html name="google-scholar" %} Google Scholar</a><br>{% endif %}
        {% if site.links.researchgate and site.links.researchgate != "" %}<a href="{{ site.links.researchgate }}">{% include icon.html name="researchgate" %} ResearchGate</a><br>{% endif %}
        {% if site.links.orcid and site.links.orcid != "" %}<a href="{{ site.links.orcid }}">{% include icon.html name="orcid" %} ORCID</a><br>{% endif %}
        {% if site.links.twitter and site.links.twitter != "" %}<a href="{{ site.links.twitter }}">{% include icon.html name="x-twitter" %} Twitter</a><br>{% endif %}
        {% if site.links.github and site.links.github != "" %}<a href="{{ site.links.github }}">{% include icon.html name="github" %} Github</a>{% endif %}
      </p>
      <p>
        This website was made using <a href="https://github.com/sbryngelson/academic-website-template"> sbryngelson's template</a>
      </p>
    </div>
  </div>
  <div class="footer-grid">
    <div class="footer-copyright" style="grid-column: 1 / -1;">
      &copy; {{ "now" | date: "%Y" }} {{ site.name | escape }}
    </div>
  </div>
</footer>

<script src="{{ '/assets/js/site.js' | relative_url }}"></script>
